<link href="https://fonts.googleapis.com/css?family=Gochi+Hand" rel="stylesheet">
<div border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" bgcolor="#F7F7F7" style="margin:0">
  <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" bgcolor="#F7F7F7">
    <tbody>
      <tr>
        <td style="padding-right:10px;padding-left:10px">
          <table align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#F7F7F7" style="width:600px;max-width:600px">
            <tbody>
              <tr>
                <td width="33%" valign="middle" style="text-align:left;padding:20px 0 10px 0">
                  <a href="http://partidodelared.org" target="_blank">
                    <img src="http://juanfrancis.co/test/pdr/2/wp-content/uploads/logohorceleste2501.png" width="250" height="83" border="0" alt="Partido de la Red" style="width:250px;min-height:83px">
                  </a>
                </td>
                <td width="66%" valign="middle" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;text-align:right;padding-top:12px;vertical-align:middle"></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#F7F7F7" style="width:600px;max-width:600px; margin-bottom: 50px">
            <tbody>
              <tr>
                <td colspan="2" style="background:#fff;border-radius:8px">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                      <tr>
                        <td style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif"></td>
                      </tr>
                      <tr>
                        <td style="font-family:'Helvetica neue',Helvetica,arial,sans-serif;padding:32px 40px">
                          <h2 style="color:#404040;font-weight:300;margin:0 0 30px 0;font-size:24px;line-height:30px;font-family:'Helvetica neue',Helvetica,arial,sans-serif">
                            Hay un nuevo afiliado:
                          </h2>
                          <p style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:'Helvetica neue',Helvetica,arial,sans-serif">
                            <div><b>Nombre y Apellido: </b> {{datos.name}} {{datos.lastname}}</div>
                          </p>
                          <p style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:'Helvetica neue',Helvetica,arial,sans-serif">
                            <div><b>Email:</b> {{datos.email}}</div>
                          </p>
                          <p style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:'Helvetica neue',Helvetica,arial,sans-serif">
                            <div><b>Teléfono:</b> {{datos.tel}}</div>
                          </p>
                          <p style="color:#666666;font-weight:400;font-size:15px;line-height:21px;font-family:'Helvetica neue',Helvetica,arial,sans-serif">
                            <div><b>Barrios por los que se mueve:</b> {{#if datos.barriosString}}{{datos.barriosString}}{{else}}Ninguno{{/if}}</div>
                          </p>
                          {{#if datos.noDomicilioCaba}}
                          <p style="line-height:21px;font-family:'Helvetica neue',Helvetica,arial,sans-serif">
                            <div style="Background: #EE7777; color:#FFF;font-size:15px;font-weight:400; padding:10px; border-radius: 3px;">No posee domicilio en CABA</div>
                          </p>
                          {{/if }}
                          <p></p>
                          <p style="color:#666666;font-weight:400;font-size:17px;line-height:24px;font-family:'Helvetica neue',Helvetica,arial,sans-serif;margin-bottom:6px;margin-top:36px">
                            Saludos,
                          </p>
                          <a href="http://partidodelared.org" target="_blank" style="text-decoration:none !important;">
                            <img width="337" height="31" src="http://fvilledary.com/pdr/imagenes/logo-handwriting.png">
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
