<div class="admin">
  <div class="heading">
    <h2 id="afiliacionesTitle">Afiliaciones {{#if peers}}({{peers.length}}){{/if}}</h2>
    <a class="addButton" href="/admin/peers/new"></a>
    <select id="listType" class="mainSelect">
      <option value="todos">Todos los afiliados</option>
      <option value="todoOk">Afiliados con todo OK</option>
      <optgroup label="Afiliados Con Errores">
        <option value="faltanDatos">Que les faltan datos</option>
        <option value="faltanFirmas">Que les faltan firmas en las fichas</option>
        <option value="afiliadoOtroPartido">Que están afiliados a otro partido</option>
      </optgroup>
    </select>
  </div>
  <div class="peersListHeaders">
    <div class="listHeader name" data-field="nombre">
      Nombre
    </div><div class="listHeader email" data-field="email">
      Email
    </div><div class="listHeader state datos">
      Datos Comp.
    </div><div class="listHeader state firmas">
      Fichas Comp.
    </div><div class="listHeader state noAfiliado">
      No Afiliado
    </div><div class="listHeader actions">
      Acciones
    </div></div>
  <div class="peersList">
    {{#if peers}}
      {{#each peers}}
      <div class="peerContainer visible" data-id="{{id}}" data-field-nombre="{{nombreSlug}}" data-field-email="{{emailSlug}}">
          <div class="peerNombre">
          {{apellido}}, {{nombre}}
        </div><div class="peerEmail">
          {{email}}<div class="cancelSelection email"></div>
        </div><div class="peerEstado {{#if datosCompletos}}ok{{else}}no{{/if}}">
        </div><div class="peerEstado {{#if tieneFirmas}}ok{{else}}no{{/if}}">
        </div><div class="peerEstado {{#if noAfiliadoOtroPartido}}ok{{else}}no{{/if}}">
        </div><div class="actionsContainer">
          <a class="button delete" href="#">
          </a><a class="button edit" href="/admin/peers/{{id}}/edit">
          </a><a class="button info" href="#"></a>
        </div>
      </div>
      {{/each}}
    {{else}}
      <div class="noItems">No hay afiliados</div>
    {{/if}}
  </div>
</div>