<div class="admin">
  <div class="heading">
    <h2>Afiliaciones</h2>
    <a class="addButton" href="/admin/peers/new"></a>
  </div>
  <div class="peersListHeaders">
    <div class="listHeader state">
      Estado
    </div><div class="listHeader name">
      Nombre Competo
    </div><div class="listHeader doc">
      Matricula
    </div><div class="listHeader email">
      Email
    </div><div class="listHeader actions">
      Acciones
    </div></div>
  <div class="peersList">
    {{#each peers}}
    <div class="peerContainer">
      <div class="peerEstado ok">
      </div><div class="peerNombre">
        {{nombre}} {{apellido}}
      </div><div class="peerMatricula">
        {{matricula.numero}}
      </div><div class="peerEmail">
        {{email}}
      </div><div class="actionsContainer">
        <a class="button delete" href="/admin/peers/{{id}}/delete">
        </a><a class="button edit" href="/admin/peers/{{id}}/edit"></a>
      </div>
    </div>
    {{/each}}
  </div>
</div>